.text-start .me-5{
  color: lightgray;
  margin-bottom: 10px;
  font-size: 15px;
  -webkit-text-decoration: none;
  text-decoration: none;
  vertical-align: top;
  
}
.text-end .me-5 .head-body-inner{
  color: lightgray !important;
  margin-bottom: 10px;
  font-size: 15px;
  -webkit-text-decoration: none;
  text-decoration: none;
  vertical-align: top;
}
